<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{%block title%}{%endblock%} - Dr. Magen</title>
        <link
            href="https://fonts.googleapis.com/css?family=Fredoka+One"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Raleway:400,700"
            rel="stylesheet"
        />
        <link
            rel="shortcut icon"
            href="{{url_for('static', filename='favicon.ico')}}"
            type="image/x-icon"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="{{ url_for('static', filename='404.css') }}"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="{{ url_for('static', filename='405.css') }}"
        />
    </head>
    <body>
        {%block content%}{%endblock%}
        <script src="{{url_for('static', filename='405.js')}}"></script>
    </body>
</html>
